

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  height: 870px;
  width: auto;
  padding:20px;
  border: 1px black;
  border-radius: 25px;
  margin: 20px 20px 20px 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .favorites-user-container {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .favorites-user-container::-webkit-scrollbar {
    display: none;  
  }
  
  .favorites-header {
    width: 100%;
    max-width: 1450px;
    padding: 0 20px;
  }

  .saved-products-title {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-height: 100%;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-top: 10px;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-name {
    font-size: 16px;
    color: #333;
  }
  
  .star-icon {
    font-size: 20px;
    color: gold;
    cursor: pointer;
  }
  
  .star-icon:hover {
    color: #cfcfcf;
  }
  
  .add-more-button {
    background-color: #e0e0e0;
    color: black; 
    padding: 10px 20px; 
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    align-self: flex-end;
  }
  
  .add-more-button:hover {
    border: 2px solid #000000;
    background-color: #ffffff;
  }

  .favorites-user-container {
  padding: 20px;
}

.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px; 
}

.product-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  background-color: #F4F4F4;
  cursor: pointer;
  margin: 0 10px;
}

.product-card:hover {
  transform: scale(1.01);
}

.product-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star-icon {
  color: #ffb400;
}

.product-detail-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

.popup-content h4,
.popup-content p {
  color: black; 
}

.popup-content h4 {
  margin: 0;
  font-size: 1.5rem;;
}

.popup-content p {
  margin: 5px 0;
}

.popup-content button {
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px;
  width: 60px;
  background-color: #ffb400;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.popup-content button:hover {
  background-color: #ff9000;
}

.custom-hr {
  width: 100%; 
  height: 1px; 
  background-color: rgb(211, 207, 207); 
  border: none; 
}

.favorites-scan-records-container {
  color: black;
  width: 100%;
  max-width: 1400px;
  height: 700px;
  margin-top: 10px;

}

.table-favorites-row {
  display: flex;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  align-items: center;
  background-color: #F4F4F4;
  width: 1450px;
  margin-bottom: 20px;
}

.table-favorites-item {
  flex: 1;
  font-size: 1.15rem !important;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-family: 'Outfit', sans-serif;
  color: gray;
}

.table-favorites-item-date {
  flex: 1;
  font-size: 1rem !important;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-family: 'Outfit', sans-serif;
  color: black;
  font-weight: bold;
}

.table-favorites-item-stats {
  flex: 1;
  padding: 10px;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Outfit', sans-serif;
  color: black;
}

.table-favorites-item-bold {
  font-weight: bold;
  font-size: 13px;
  flex: 1;
  padding: 10px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  color: black;
}

.table-item-bold:hover {
  color: rgb(3, 86, 134);
}

.allergy-detected {
  background-color: #F0D2D2;
  color: black;
  cursor: pointer;
}

.table-row:not(.allergy-detected):hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

.safe {
  color: rgba(14, 173, 105, 1);
}

.table-item-stats:not(.safe) {
  color: rgba(205, 60, 62, 1);
}

.view-favorite-info-btn {
  background: transparent;
  font-size: 1rem;
  border-radius: 0;
  border-bottom: 2px solid gray;
  color: gray
  
}

.view-favorite-info-btn:hover {
  font-weight: lighter;
}

.view-favorite-info-btn:hover {
  border: none;
  border-bottom: 2px solid gray;
  font-weight: lighter;
}

.view-favorite-info-btn:focus {
  outline: none;
}

.view-favorite-info-btn, .view-favorite-info-btn.focus-visible  {
  outline: none !important;
}
  
  