/* Scoped layout styles for App (Sidebar and Main Content) */

/* Layout container using CSS Grid */
.layout {
  display: grid;
  grid-template-columns: 17% 83%;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #f1f0f0;
}

/* Sidebar styles */
.sidebar {
  background-color: #f2f2f2;  
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10; 
  overflow-y: auto; 
  width: 17%;
  box-sizing: border-box;
}

/* Main Content styles */
.main-content {
  background-color: #ffffff;
  height: 100vh; 
  /*padding: 20px;*/
  grid-column: 2;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
}


@media (max-width: 768px) {
  .sidebar {
    width: 40%;
  }
  .layout {
    grid-template-columns: 40% 60%;
  }
  .main-content {
    grid-column: 2;
  }
}
