@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

.scan-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    height: 870px;
    width: auto;
    padding:20px;
    border: 1px black;
    border-radius: 25px;
    margin: 20px 20px 20px 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 16px rgba(0, 0, 0, 0.1);
}

.scan-history-container {
    border: none;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.scan-history-header {
    display: flex;
    justify-content: flex-start;
    font-size: 2.5rem;
    padding: 0 0 0 50px;
    margin: 0 20px;
    color: #071952;
    width: 100%;
}

.scan-history-container h2 {
    color: rgba(73, 69, 79, 0.8);
    width: 100%;
}

.scan-history-categories {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 70px;
    gap: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.category-btn {
    font-size: 1.5rem;
    margin-right: 10px;
    background-color: #ffffff;
    color: gray;
    border: transparent;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 0;
}

.category-btn:hover {
    border-bottom: 2px solid #007BFE;
    outline: #ffffff;
}

.category-btn:active {
    color: #007BFE; 
    border-bottom: 2px solid #007BFE;
}

.category-btn:focus {
    color: #007BFE; 
    border-bottom: 2px solid #007BFE;
    outline: none;
}


.all-history-scan-records-container {
    color: black;
    width: 100%;
    max-width: 1400px;
    height: 700px;
    margin-top: 10px;

}

.table-header {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    color: #49454FE5;
    
}

.table-header-item {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'Geologica', sans-serif;
    
}

.table-row {
    display: flex;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    align-items: center;
    background-color: #f4f4f4;
    width: 100%;
    margin-bottom: 20px;
}

.table-item {
    flex: 1;
    font-size: 1.15rem !important;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    color: gray;
}

.table-item-date {
    flex: 1;
    font-size: 1rem !important;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    color: black;
    font-weight: bold;
}

.table-item-stats {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Outfit', sans-serif;
    color: black;
}

.table-item-bold {
    font-weight: bold;
    font-size: 13px;
    flex: 1;
    padding: 10px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: black;
}

.table-item-bold:hover {
    color: rgb(3, 86, 134);
}

.allergy-detected {
    background-color: #F0D2D2;
    color: black;
    cursor: pointer;
}

.table-row:not(.allergy-detected):hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

.safe {
    color: rgba(14, 173, 105, 1);
}

.table-item-stats:not(.safe) {
    color: rgba(205, 60, 62, 1);
}

.view-info-btn {
    font-weight: bold;
    background: transparent;
    border: none;
    color: black
}

.view-info-btn:hover {
    font-weight: lighter;
}

.view-info-btn:focus {
    outline: none;
}

.category-btn.focus, .category-btn.focus-visible  {
    outline: none !important;
}