/* Healthy Tips container */
.healthy-tips {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    height: 1000px;
    width: auto;
    overflow: hidden;
    padding: 20px;
    padding-top: 3%;
}

/* Inner container for the healthy tip */
.healthy-tips-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    width: auto;
    height: 55%;
    position: relative; 
}

/* Left Arrow (Previous) */
.arrow-left {
    position: absolute;
    top: 650px;
    left: 5%;
    transform: translateY(-10%);
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border: none;
    color: black;
}

/* Right Arrow (Next) */
.arrow-right {
    position: absolute;
    top: 650px;
    right: 5%;
    transform: translateY(-10%);
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border: none;
    color: black;
    align-self: flex-end;
}

/* Hide arrows when at the first or last item */
.hidden {
    visibility: hidden;
}

/* Quote container */
.quote-container {
    flex: 1;
    margin-right: 20px;
}

.quote {
    font-size: 18px;
    font-style: italic;
    color: #1C3481;
    margin-bottom: 10px;
    text-align: right;
}

.author {
    text-align: right;
    font-size: 17px;
    font-style: italic;
    color: #1C3481;
}

/* Explanation container */
.explanation-container {
    height: auto;
    margin-top: 20px;
    color: #1C3481;
    line-height: 1.6;
    background-color: #D1DBDC;
    border-radius: 20px;
    font-size: 22px;
    font-style: italic;
    padding: 20px;
    position: relative; 
    padding-bottom: 70px; 
}

/* MyNetDiary Container */
.mynetdiary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    bottom: 20px; 
    left: 0;
    right: 0;
}

/* MyNetDiary Image */
.mynetdiary-image {
    width: 300px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

/* MyNetDiary Text */
.mynetdiary-text {
    display: flex;
    flex-direction: column;
    text-align: right; 
    padding-right: 20px; 
}

.mynetdiary-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #1C3481;
}

.mynetdiary-description {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.author-identity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    background-color: #071952;
    border-radius: 20px;
    padding: 20px; 
    box-sizing: border-box;
    margin-top: 20px; 
}

.author-image {
    margin-top: 20px;
    width: 350px;
    height: 320px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 2px solid white;
}

.author-bio {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; 
}

.author-name {
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    color: #fff;
}

.author-title {
    margin: 0px;
    padding: 0%;
    font-size: 14px;
    color: #fff;
}

.author-description {
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
}

.author-bio p {
    word-wrap: break-word;
    margin-bottom: 5px; 
}
